body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drum-pad {
  position: relative;
  display:block;
  background: transparent;
  float: left;
  width: 100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size:  20px;
  text-decoration: none;
  color: blueviolet;
  margin: 40px 40px;
  box-sizing: border-box;
  
  cursor: pointer;
}

.drum-pad:before,
.drum-pad:after {
  position: absolute;
  content: '';
  width: 100px;
  left: 0px;
  height: 34px;
  z-index: -1;
}

.drum-pad:before {
  transform: perspective(15px) rotateX(15deg);
}
.drum-pad:after{
  top: 40px;
  transform: perspective(15px) rotateX(-15deg);
}

.drum-pad.border:before,
.drum-pad.border:after {
  border:  4px solid blueviolet;
}

.drum-pad.border:before {
  border-bottom: none; /*prevents a line in the middle */
}

.drum-pad.border::after{
  border-top: none; /*prevents a line in the middle*/
}